#about{
    background-color: #fff;
    padding: 130px 0;
    background-image: url(../images/about/about_bg.png);
    background-repeat: no-repeat;
    background-position: top 380px right 0;
    background-size: 62.9vw;
}

.about_content{
    text-align: center;
}

.about_top{
    background-image: url(../images/common/slash_02.svg);
    background-repeat: no-repeat;
    background-position: bottom 55px left 0;
    background-size: 167px;
    padding-bottom: 140px;
}

.about_top p{
    font-size: 20px;
    line-height: 2.6;
    margin-top: 60px;
}

.about_top iframe{
    margin-top: 70px;
    width: 720px;
    height: 405px;
}

.about_bottom h3{
    width: 470px;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.06rem;
    border-radius: 20px;
    padding: 0.4em 0 0.6em;
}

/*----------------------------
      Media / メディア
----------------------------*/
.about_slick{
    margin-top: 60px;
}

.about_slick li{
    margin: 0 20px;
}

.about_slick .slick-arrow{
    display: none !important;
}

.about_slick h4{
    font-size: 20px;
    line-height: 1.75;
    letter-spacing: 0.08rem;
    margin-top: 25px;
}