footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
}

footer p{
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.12rem;
    text-align: center;
}

footer img{
    width: 363px;
    margin-top: 20px;
}

footer small{
    text-align: center;
    margin-top: 70px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.04rem;
}

/*----------------------------
    Responsive /レスポンシブ
----------------------------*/
/* スマホ版 */
@media screen and (max-width:768px){
    footer{
        padding: 55px 0;
    }

    footer p{
        font-size: 14px;
    }

    footer img{
        width: 242px;
    }

    footer small{
        margin-top: 20px;
    }

    /* 固定バナー */
    footer .button_wrap{
        position: fixed;
        bottom: 20px;
        width:calc(100% - 40px);
        z-index: 999;
    }
    
    footer .button_wrap a{
        width: 100%;
        border-radius: 35px;    
        font-size: 25px;
        font-size: 18px;
        line-height: 60px;
        letter-spacing: 0.11rem;
        position: relative;
        /* margin-top: 30px; */
        text-decoration: none;
    }
    
    footer .button_wrap svg{
        width: 9px;
        height: 14px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        right: 20px;
    }
    
    footer .button_wrap:hover svg .cls-1{
        fill: #30508D;
    }
}