header{
    position: fixed;
    padding: 40px 40px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
}

header h1{
    width: 303px;
}

header button{
  width: 250px;
  border-radius: 25px;
  /* padding: 10px 0; */
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.08rem;
}