header{
    position: fixed;
    padding: 40px 40px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
}

header h1{
    width: 303px;
}

.header_right{
  display: flex;
  justify-content: flex-end;
  align-items: start;
  column-gap: 40px;
}

header button{
  width: 250px;
  border-radius: 25px;
  /* padding: 10px 0; */
  font-size: 18px;
  line-height: 50px;
  letter-spacing: 0.08rem;
  /* border: solid 1px #30508D; */
}

header button:hover{
  /* border: solid 1px #30508D; */
  outline: solid 1px #30508D;
  outline-offset: 0;
}

/*---------------------------------
    Tablet / タブレット
----------------------------------*/
@media screen and (max-width:1100px){
  header h1{
    width: 242px;
  }
}

/*---------------------------------
    Tablet / タブレット
----------------------------------*/
@media screen and (max-width:767px){
  header{
    padding: 20px 20px 0;
  }

  header h1{
    width: 157px;
  }
}