#keyvisual{
    background-color: #96BEE6;
    background-image: url(../images/keyvisual/keyvisual_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
}

.keyvisual_left img{
    width: 35.9vw;
}

.keyvisual_left .keyvisual_copy{
    font-size: 30px;
    transform: skewX(-10deg);
    /* padding-bottom: 10px; */
    border-bottom: solid 2px #fff;
}

.keyvisual_left .ten-million{
    font-size: 50px;
    /* font-style: italic; */
}

.keyvisual_left .comma{
    font-size: 80%;
}

.keyvisual_left_point{
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
    margin-top: 30px;
}

.keyvisual_left_point_item{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(131, 151, 198, .6);
    -webkit-box-shadow: 3px 3px 5px rgba(131, 151, b198, .6);
    text-align: center;
    padding: 20px 0 25px;
    width: 100%;
}

.keyvisual_left_point_item h3 .point{
    font-size: 22px;
    font-style: italic;
    line-height: 1;
}

.keyvisual_left_point_item h3 .number{
    font-size: 36px;
    font-style: italic;
    line-height: 1;
}

.keyvisual_left_point_item p{
    font-size: 20px;
    line-height: 31px;
    letter-spacing: 0.04rem;
}

.keyvisual_right img{
    width: 48.9vw;
    font-size: 50px;
}