.button_common{
    /*ボタンの形状*/
    display: inline-block;
    color:#fff;
    /* padding: 18px 60px; */
    /* border-radius:30px; */
    /* text-decoration: none; */
    border: none;
    pointer-events: cursor;
    /*背景の色と形状*/
    background: linear-gradient(270deg, #30508D 50%, #092F5A 100%);
    background-position: 1% 50%;
    background-size: 200% auto;
    /*アニメーションの指定*/
    transition: all 0.3s ease-out;
}

/*hoverした際の、背景の場所とテキスト色の変更*/
.button_common:hover {
    color: #fff;
    background-position: 99% 50%;
}